<!DOCTYPE html>
<html><head><title>Quiz Completed</title></head>
<body>
    <div style="max-width:350px;margin:70px auto;background:#fff;padding:48px;border-radius:12px;text-align:center;box-shadow:0 0 12px #463ea122;">
        <h2>Quiz Submitted!</h2>
        <p>Your score is: <span style="color:#4f46e5;">{{ score }}%</span></p>
        <a href="{% url 'studysessions' %}" class="btn" style="background:#4f46e5;color:white; padding:8px 22px;border-radius:4px;text-decoration:none;">Back to Courses</a>
    </div>
</body>
</html>
